.DS_Store

/common/*.yml
/common/k8s_nodes
/common/*playbook*

/local/.vagrant
/local/Vagrant

/cloud/*.yml
/cloud/*.json

/config/*
!/config/*config.example*

/temp/*
!/temp/dummy.txt
.vscode/launch.json